backcall
certifi
chardet
decorator
Django
gunicorn
idna
ipython
ipython-genutils
jedi
parso
pexpect
pickleshare
prompt-toolkit
psycopg2
ptyprocess
Pygments
pytz
requests
six
sqlparse
traitlets
urllib3
wcwidth
